<link rel="stylesheet" href="css/print.css">
<div class="row">
    <div class="col-xs-10 col-md-offset-1">
        <h2>Point of Sale Receipt</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-xs-offset-1 col-md-2 col-md-offset-2">
        <b>Sale</b>
    </div>
    <div class="col-xs-3 col-md-2">
        <b>Customer Name</b>
    </div>
    <div class="col-xs-3 col-md-2">
        <b>Customer Number</b>
    </div>
    <div class="col-xs-1 col-md-2">
        <b>VIN</b>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-xs-offset-1 col-md-2 col-md-offset-2">
        {{saleObject.id}}
    </div>
    <div class="col-xs-3 col-md-2">
        {{customerObject.name_last}}, {{customerObject.name_first}}
    </div>
    <div class="col-xs-3 col-md-2">
        {{customerObject.id}}
    </div>
    <div class="col-xs-1 col-md-2">
        {{carObject.VIN}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-md-offset-1">
        <h3>Customer Information</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-xs-offset-1 col-md-4 col-md-offset-2">
        <b>Address 1</b>
    </div>
    <div class="col-xs-5 col-md-4">
        <b>Address 2</b>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-xs-offset-1 col-md-4 col-md-offset-2">
        {{customerObject.address_1}}
    </div>
    <div class="col-xs-5 col-md-4">
        {{customerObject.address_2}}
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-2 col-md-2 col-md-offset-3">
        <b>City</b>
    </div>
    <div class="col-xs-2">
        <b>State</b>
    </div>
    <div class="col-xs-2">
        <b>Zip</b>
    </div>
</div>
<div class="row">

    <div class="col-xs-3 col-xs-offset-2 col-md-2 col-md-offset-3">
        {{customerObject.city}}
    </div>
    <div class="col-xs-2">
        {{customerObject.state}}
    </div>
    <div class="col-xs-2">
        {{customerObject.zip}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 col-md-offset-2">
        <b>Phone #</b>
    </div>
    <div class="col-xs-4">
        <b>Email</b>
    </div>
    <div class="col-xs-2">
        <b>DOB</b>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 col-md-offset-2">
        {{customerObject.phone}}
    </div>
    <div class="col-xs-4">
        {{customerObject.email}}
    </div>
    <div class="col-xs-2">
        {{customerObject.birthDate}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-md-offset-1">
        <h3>Vehicle Information</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 col-md-offset-2">
        <b>Year</b>
    </div>
    <div class="col-xs-2">
        <b>Make</b>
    </div>
    <div class="col-xs-2">
        <b>Model</b>
    </div>
    <div class="col-xs-2">
        <b>Color</b>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1 col-md-offset-2">
        {{carObject.year}}
    </div>
    <div class="col-xs-2">
        {{carObject.make}}
    </div>
    <div class="col-xs-2">
        {{carObject.model}}
    </div>
    <div class="col-xs-2">
        {{carObject.color}}
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-md-offset-1">
        <h3>Cost Information</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 text-right col-xs-offset-1 col-md-offset-2">
        <b>MSRP</b>
    </div>
    <div class="col-xs-1 col-md-2">
        ${{carObject.msrp}}
    </div>
    <div class="col-xs-4 text-right col-md-2">
        <b>Price Paid By Customer</b>
    </div>
    <div class="col-xs-2 col-md-3">
        ${{saleObject.price}}
    </div>
</div>