<div class="row">
    <div class="col-sm-11">
        <ui-select ng-model="customer.selected" theme="bootstrap">
            <ui-select-match placeholder="Select or search for a customer...">{{$select.selected.lastName}}, {{$select.selected.firstName}}</ui-select-match>
            <ui-select-choices repeat="item in customers | byCustomerName: $select.search">
                <div ng-bind="item.lastName"></div>
                <small ng-bind="item.firstName"></small>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-warning" ng-click="nope()">Clear</button>
    </div>
</div>
<div ng-hide="customer.selected">
    <div class="row">
        <div class="form-group col-sm-2">
            <label for="firstName">First Name</label>
            <input  id="firstName" ng-model="customer.create.firstName"/>
        </div>
        <div class="form-group col-sm-2">
            <label for="lastName">First Name</label>
            <input  id="lastName" ng-model="customer.create.lastName"/>
        </div>
    </div>
</div>
<div ng-show="customer.selected">
    <div class="row">
        <div class="form-group col-sm-2">
            <label for="autoFillFirstName">First Name</label>
            <input disabled id="autoFillFirstName" ng-model="customer.selected.firstName"/>
        </div>
        <div class="form-group col-sm-2">
            <label for="autoFillLastName">First Name</label>
            <input disabled id="autoFillLastName" ng-model="customer.selected.lastName"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-10">
        <button class="btn btn-success pull-right">{{shouldISaveAndContinue()}}Continue</button>
    </div>
</div>